h1
{
	color: red;
	display: center;
}

.assignment {
	display:flex;
	padding:10px;
	background:magenta;
}

.assignment img {
	width:200px;
	padding:10px;
}

body 
{
	background: lightgreen;
	font-family: sans-serif;
}

