h1
{
	color: red;
	display: center;
}

.assignment {
	display:flex;
	padding:10px;
	margin:10px;
	background:grey;
	border-radius:5px;
}

.assignment img {
	width:200px;
	padding:10px;
}
.assignment img:hover
{
	border:4px dashed purple;
}
h1:hover {
	color: purple;
}

body 
{
	background: lightgreen;
	font-family: sans-serif;
}

